<mat-card class="space-card">
  <div class="card-header">
    <span class="card-title">{{ card.title }}</span>
    <span class="card-cost">{{ card.cost }}</span>
  </div>

  <img mat-card-image [src]="card.imageUrl" alt="{{ card.title }}" class="card-image" />

  <mat-card-content>
    <div *ngFor="let effect of card.effects">
      <p>{{ effect.name + ' ' + effect.value }}</p>
    </div>
    <p class="card-flavor">{{ card.description }}</p>
  </mat-card-content>
  <mat-card-footer>
    <div class="type-container">
      <h6>{{ card.type }} - {{ card.rarity }}</h6>
    </div>
  </mat-card-footer>
</mat-card>
