<mat-card
  class="space-card"
  [ngClass]="getCardStyle()"
  (mouseover)="showTooltip = true"
  (mouseleave)="showTooltip = false"
>
  <div class="card-header">
    <span class="card-title">{{ card.title }}</span>
    <span class="card-cost">{{ card.cost }}</span>
  </div>

  <img mat-card-image [src]="card.imageUrl" alt="{{ card.title }}" class="card-image" />

  <mat-card-content>
    @for (effect of card.effects; track effect.name) {
    <p>{{ effect.name }} {{ effect.value > 0 ? '+' : '-' }} {{ effect.value }}</p>
    } @if (isShip()) {
    <div class="attack-container">
      <img src="images/attack-icon.png" class="stats-icon" alt="Attack Icon" />
      <span class="stats-value">{{ getShipData().attack }}</span>
    </div>
    <div class="defence-container">
      <img src="images/defence-icon.png" class="stats-icon" alt="Defence Icon" />
      <span class="stats-value">{{ getShipData().health }}</span>
    </div>
    }
  </mat-card-content>
  <mat-card-footer>
    <div class="type-container">
      <h6>{{ card.cardType }} - {{ card.rarity }}</h6>
    </div>
  </mat-card-footer>

  @if (showTooltip) {
  <app-card-tooltip [card]="card"></app-card-tooltip>
  }
</mat-card>
