<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ card.title }}</mat-card-title>
    <!-- <mat-card-subtitle></mat-card-subtitle> -->
  </mat-card-header>
  <div class="image-container">
    <img mat-card-image [src]="card.imageUrl" [alt]="'Photo of the card ' + card.title" />
  </div>
  <mat-card-content>
    <p>{{ card.description }}</p>
  </mat-card-content>
  <mat-card-footer>
    <div class="type-container">
      <h6>{{ card.type }}</h6>
    </div>
  </mat-card-footer>
</mat-card>
