<form *ngIf="form" [formGroup]="form">
  <div class="input-columns">
    <div class="column">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cost</mat-label>
        <input matInput formControlName="cost" type="number" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Image URL</mat-label>
        <input matInput formControlName="imageUrl" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let cardType of cardTypeEnum | keyvalue" [value]="cardType.value">
            {{ cardType.key }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Rarity</mat-label>
        <mat-select formControlName="rarity">
          <mat-option *ngFor="let rarity of rarityEnum | keyvalue" [value]="rarity.value">
            {{ rarity.key }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="column">
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="Write an explanation for the card"
          formControlName="description"
          rows="5"
        ></textarea>
      </mat-form-field>
      <button mat-raised-button type="button" (click)="addEffect()">Add Effect</button>
      <div formArrayName="effects" class="effects">
        <div *ngFor="let pair of effects.controls; let i = index" [formGroupName]="i">
          <mat-form-field>
            <mat-label>Effect</mat-label>
            <mat-select formControlName="name">
              <mat-option *ngFor="let effect of effectEum | keyvalue" [value]="effect.value">
                {{ effect.key }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>modifier</mat-label>
            <input matInput formControlName="value" type="number" />
          </mat-form-field>
          <button mat-mini-fab (click)="removeEffect(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="input-columns" *ngIf="form.get('type')?.value === cardTypeEnum.ship">
    <div class="column" formGroupName="ship">
      <h3>Ship Stats</h3>
      <mat-form-field>
        <mat-label>Max Health</mat-label>
        <input matInput formControlName="maxHealth" type="number" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Base Attack</mat-label>
        <input matInput formControlName="baseAttack" type="number" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Initiative</mat-label>
        <input matInput formControlName="initiative" type="number" />
      </mat-form-field>
    </div>
    <div class="column"></div>
  </div>
  <div>
    <button
      mat-raised-button
      color="accent"
      class="save-button"
      type="submit"
      [disabled]="form.invalid"
      (click)="save()"
    >
      Save
    </button>
  </div>
</form>
