.board {
  display: flex;
  flex-flow: column;
  height: calc(100% - 5em);

  .enemy-field {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;

    .enemy-card {
      transform: scale(0.5);
      filter: drop-shadow(0 0 10px red);
      transition: transform 0.2s ease-in-out;
    }

    .enemy-card:hover {
      transform: scale(0.7);
    }
  }

  .field {
    display: flex;
    justify-content: center;
    min-height: 50%;
    background-image: url('../../../../public/images/galaxy\ bg.jpeg');
    background-size: 512px auto;
    background-repeat: repeat;
    background-color: black;
  }

  .hand {
    display: flex;
    justify-content: center;
    min-height: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
      url('../../../../public/images/galaxy\ bg.jpeg');
    background-size: 512px auto;
    background-repeat: repeat;
    background-color: black;

    app-card {
      cursor: grab;
      margin-left: -100px;
      &:hover {
        z-index: 10;
      }
      &.cdk-drag-disabled {
        filter: grayscale(80%) brightness(80%);
        cursor: not-allowed !important;
      }
    }
  }
}
