<div class="board">
  <div
    id="battlefield"
    class="battlefield"
    cdkDropList
    #battlefieldList="cdkDropList"
    [cdkDropListData]="playerShips"
    (cdkDropListDropped)="dropInBattlefield($event)"
  >
    <!-- Player Ships (Left Side) -->
    <div class="player-side">
      @if (draggingCard && isOverBattlefield && this.isShip(draggingCard)) {
      <app-ship [shipCard]="getShipCard(draggingCard)"></app-ship>
      } @for (ship of playerShips; track ship.id) {
      <app-ship [shipCard]="getShipCard(ship)"></app-ship>
      }
    </div>

    <!-- Enemy Ships (Right Side) -->
    <div class="enemy-side">
      @for (ship of enemyShips; track ship.id) {
      <app-ship [shipCard]="getShipCard(ship)"></app-ship>
      }
    </div>
  </div>

  <div
    id="hand"
    class="hand"
    cdkDropList
    #handList="cdkDropList"
    [cdkDropListData]="hand"
    [cdkDropListConnectedTo]="[battlefieldList]"
  >
    @for (card of hand; track card.id) {
    <app-card
      cdkDrag
      [cdkDragData]="card"
      (cdkDragStarted)="startDrag(card)"
      (cdkDragEnded)="stopDrag()"
      [cdkDragDisabled]="(canAfford(card) | async) === false"
      [card]="card"
      (cdkDragEntered)="dragEnter($event)"
    >
      <!-- @if (this.isShip(card)) {
      <ng-template cdkDragPreview>
        <app-ship [shipCard]="getShipCard(card)"></app-ship>
      </ng-template>
      } -->
    </app-card>
    }
  </div>
</div>
