.board {
  display: flex;
  gap: 1em;
  flex-flow: column;
  height: calc(100vh - 5em);
  width: 100%;
  background: url('../../../../public/images/galaxy\ bg.jpeg') center center;

  .battlefield {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40%;
    margin: 1rem;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px;
  }

  .player-side,
  .enemy-side {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 45%;
    justify-content: center;
    align-items: center;
  }

  .ship-preview {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent; // No card background
  }

  .hand {
    display: flex;
    justify-content: center;
    min-height: 50%;

    app-card {
      cursor: grab;
      margin-left: -100px;
      &:hover {
        z-index: 10;
      }
      &.disabled {
        filter: grayscale(80%) brightness(80%);
        cursor: not-allowed !important;
      }
    }
  }
  .highlight {
    position: relative;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.8);
  }
}

.arrow-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Makes the SVG completely ignore mouse interactions */
}
