<div class="board">
  <!-- <div class="enemy-field">
    @for (card of hand; track card) {
    <app-card [card]="card" class="enemy-card"></app-card>
    }
  </div> -->

  <div
    class="field"
    cdkDropList
    #fieldList="cdkDropList"
    [cdkDropListData]="cardsInPlay"
    [cdkDropListConnectedTo]="[handList]"
    (cdkDropListDropped)="dropInField($event)"
  >
    @for (card of cardsInPlay; track card.id) {
    <app-card cdkDrag [cdkDragDisabled]="true" [card]="card"></app-card>
    }
  </div>
  <div class="hand" cdkDropList #handList="cdkDropList" [cdkDropListData]="hand" [cdkDropListConnectedTo]="[fieldList]">
    @for (card of hand; track card.id) {
    <app-card
      cdkDrag
      [cdkDragData]="card"
      [cdkDragDisabled]="(canAfford(card) | async) === false"
      [card]="card"
    ></app-card>
    }
  </div>
</div>
