@use '../../../vars';

.float {
  position: fixed;
  font-size: 2rem;
  animation: float-up 1s ease-out forwards;
  pointer-events: none;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

.float.positive {
  color: vars.$space-lime;
}

.float.negative {
  color: vars.$space-red;
}

.float.neutral {
  color: vars.$card-cyan;
}

@keyframes float-up {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}
