@use '@angular/material' as mat;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
}

html {
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: (
        plain-family: Orbitron,
        brand-family: Open Sans,
        bold-weight: 900,
        medium-weight: 500,
        regular-weight: 300,
      ),
      density: 0,
    )
  );
}
