// Card
$card-bg: rgb(255, 248, 227);
$card-mid-grey: #8d8d8d;
$card-dark-grey: #535353;
$card-green: #009688;
$card-semi-black: #212121;

// App
$menu-bar-color: #1c0643;

// Layout
$desktop-breakpoint: 768px;
$toolbar-height: 64px;
